.header{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;
}

.main-nav{
    display: flex;
    margin-top: 5px;
}

.logo{
    margin: 0;
    font-size: 1.45rem;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin-left: 1rem;
    color: #34495e;
}

h2, h3, a{
    color: #34495e;
}

a{
    text-decoration: none;
}